menu.li {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid red;
  margin-right: -5px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: gray;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #5cd6d6;
  color: #269797;
  line-height: 1.5;
  font-size: 0.875rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1, h2, h3, h4 {
    line-height: 1;
  }
}
**::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main, article, aside, figure, footer,
header, nav, section, details, summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=radio] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 90% sans-serif;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable, lable, input[type=button], input[type=submit], input[type=file] {
  cursor: pointer;
}

button, input[tpye=button] {
  width: auto;
  overflow: visable;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
.section, .container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .section {
    width: 90vw;
  }
}
.container {
  text-align: center;
  margin-top: 5rem;
}

.btn {
  background: #3bcece;
  display: inline-block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.delete-btn {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: #d50b0b;
  letter-spacing: 0.1rem;
  background: transparent;
  border: 1px solid #d50b0b;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.5s linear;
}
.delete-btn:hover {
  color: #fff;
  background: #d50b0b;
}
.delete-btn .underline {
  width: 12rem;
  height: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  background: #3bcece;
}

.Search-page {
  font-family: "Times New Roman", Times, serif;
  color: khaki;
}
.Search-page .search-nav {
  font-family: "Times New Roman", Times, serif;
}
.Search-page .search-nav .search-bar {
  font-family: "Times New Roman", Times, serif;
}
.Search-page .search-results {
  font-family: "Times New Roman", Times, serif;
}
.Search-page .search-results .g-4 {
  font-family: "Times New Roman", Times, serif;
}
.Search-page .search-results .g-4 .asso-cards {
  font-family: "Times New Roman", Times, serif;
}
.Search-page .search-results .g-4 .asso-cards .card-body {
  width: 150px;
  height: 250px;
  background-color: red;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}/*# sourceMappingURL=main.css.map */